.book-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.book-cover {
    width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.book-info h2 {
    margin: 0;
}

body {
    font-family: Geologica, serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

aside {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}